.info-border {
    border: 1px solid #213F7D;
    opacity: 0.1;
    width: 100%;
    transform: translateY(-20px);
}

.information {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .info-heading {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #213F7D;
    }

    .info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        

        .more-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 30px;
            margin-right: 100px;

            .info-head {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                text-transform: uppercase;
                color: #545F7D;
            }
    
            .info-text {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #545F7D;
            }
        }
    }
};