.users {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 60px;
    gap: 40px;

    .users-header-text {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #213F7D;
    }
};